@font-face {font-family: "teemo";
    src: url('//at.alicdn.com/t/font_81pi7nksf3l3di.eot?t=1479982582586'); /* IE9*/
    src: url('//at.alicdn.com/t/font_81pi7nksf3l3di.eot?t=1479982582586#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_81pi7nksf3l3di.woff?t=1479982582586') format('woff'), /* chrome, firefox */
    url('//at.alicdn.com/t/font_81pi7nksf3l3di.ttf?t=1479982582586') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_81pi7nksf3l3di.svg?t=1479982582586#iconfont') format('svg'); /* iOS 4.1- */
}

.teemo {
    font-family:"teemo" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.teemo-database:before { content: "\e600"; }

.teemo-gouxuan:before { content: "\e616"; }

.teemo-fanhui:before { content: "\e617"; }

.teemo-yunpan1:before { content: "\e618"; }

.teemo-jiantou2:before { content: "\e602"; }

.teemo-yunshangchuan:before { content: "\e619"; }

.teemo-coupon:before { content: "\e601"; }

.teemo-tianjia:before { content: "\e603"; }

.teemo-quesheng:before { content: "\e604"; }

.teemo-renzhengshejishi:before { content: "\e605"; }

.teemo-shezhi:before { content: "\e606"; }

.teemo-xiaoxi:before { content: "\e607"; }

.teemo-wodefensi:before { content: "\e608"; }

.teemo-woguanzhude:before { content: "\e609"; }

.teemo-anonymous-iconfont:before { content: "\e60a"; }

.teemo-youhuiquan:before { content: "\e60b"; }

.teemo-shouhuodizhi:before { content: "\e60c"; }

.teemo-shanchu:before { content: "\e60d"; }

.teemo-quanzidingwei:before { content: "\e60e"; }

.teemo-jianpan:before { content: "\e60f"; }

.teemo-tianjiazhaopian:before { content: "\e610"; }

.teemo-zhuti:before { content: "\e611"; }

.teemo-zan:before { content: "\e612"; }

.teemo-liulan:before { content: "\e613"; }

.teemo-pinglun:before { content: "\e614"; }

.teemo-fabu:before { content: "\e615"; }
