/* 自定义编辑器内部的样式 */
* {
    font-family: "Microsoft YaHei";
}
p {
    font-size: 14px;
    line-height: 1.87; /*行间距*/
    margin: 21px 0;
}
/* at标签的内容 */
[data-userid] {
    color: #4ab7ed;
}
img {
    display: block;
    margin: 21px auto;
    border: 1px solid #e4e4e4;
}
